/* Write your CSS here */
.login-btn {
  background-color: #f8fafc;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
  color: #303150;
}
